/*
Colors
#222831
#393E46
#00ADB5
#EEEEEE
JS yellow #f7df1e
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    position: fixed;
    width: 100%;
}
/*Header*/
header{
    background-color: #222831;
}
.nav-tab{
    display: flex;
    flex-wrap: wrap;
    height: 9vh;
    width: 50%;
    background-color: #222831;
    color: #f7df1e;
    padding: 4px 0;
}
hr {
    height: 0.5vh;
    background-color: white;
}
.logo, .socialMedia {
    display: inline-block;
    height: auto;
    cursor: default;
}
.logo {
    font-family: 'Zen Dots', cursive;
    width: 50%;
    text-align: start;
    margin: auto 0;
}

.socialMedia {
    width: 50%;
    text-align: end;
    padding-right: 20px;
    margin: auto 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    width: 50%;
}

h2{
    font-size: 2.5rem;
    color: white;
    text-shadow: 1px 1px 5px blue;
}

/*--------------Social media----------*/
.fa {
  padding: 5px 5px;
  font-size: 15px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: auto;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-envelope {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

/*Body*/

body {
    background-color: black;
}

/*-----------Video--------*/
/*-----------636 x 381----*/

.videoprops {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    min-width: 10%;
    min-height: 100%;
}

#underConstructionVideo {
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
video{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}

iframe{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

#btn1, #btn2{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: transparent;
  text-shadow: 2px 1px 1px #000000;
  color: #fff;
  cursor: pointer;
}

.card-content{
    margin: 0 5%;
    font-family: 'Anonymous Pro', monospace;
    position: fixed;
    left: 0;
    font-weight: bold;
    color: #f1f1f1;
    width: 45%;
    height: auto;
    padding: 5px 25px 5px 25px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.699);
}

.card-content p{
    font-weight: bold;
    color: #f1f1f1;
}

.card-content a{
    font-weight: bold;
    color: rgb(226, 178, 46);
    text-decoration: none;
}

.card-content a:hover{
    color: #f7df1e;
}

.card-content-embed{
    margin: 0 5px;
    font-family: 'Anonymous Pro', monospace;
    font-weight: bold;
    position: absolute;
    margin-top: 30px;
    margin-left: 120px;
    color: #f1f1f1;
    width: 45%;
    height: auto;
    padding: 5px 2px 5px 25px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.699);
}

.card-content-embed p{
    font-weight: bold;
}

.card-content-embed span{
    font-weight: bold;
    color: rgb(255, 255, 255);
    cursor: default;
}


#aboutMeDescription{
    min-width: 250px;
}

h3{
    color: rgb(255, 255, 255);
}


#courses.card-content{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

#courses-slides{
    background-color: white;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 20px 50px;
}

#courses-slides a{
    color: #000000;
}

#courses-slides a:hover{
    color: #3c3c3c;
}

.numbertext-courses{
    position: absolute;
    right: 0;
    color: #000000;
    text-align: end;
    z-index: 103;
}

.row {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
    z-index: 101;
    background-image: url(/assets/img/Winter.jpg);
}

.row .card1:hover .frontside{
    z-index: 100;
    background-color: #0e0e0f;
}

.row .card2:hover .frontside{
    z-index: 100;
    background-color: #ff000062;
}

.row .card3:hover .frontside{
    z-index: 100;
    background-color: #14269b65;
}

.row .card4:hover .frontside{
    z-index: 100;
    background-color: #f7de1e3c;
}

.row .card5:hover .frontside{
    z-index: 100;
    background-color: #00acb570;
}

.row .card6:hover .frontside{
    z-index: 100;
    background-color: #03612752;
}
/*----------------------------------------------*/

.row .card1 .backside{
    z-index: 100;
    background-color: #0e0e0f;
}

.row .card2 .backside{
    z-index: 100;
    background-color: #ff000062;
}

.row .card3 .backside{
    z-index: 100;
    background-color: #14269b65;
}

.row .card4 .backside{
    z-index: 100;
    background-color: #f7de1e3c;
}

.row .card5 .backside{
    z-index: 100;
    background-color: #00acb570;
}

.row .card6 .backside{
    z-index: 100;
    background-color: #03612752;
}

/*----------------------------------------------*/

.frontside {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frontside, .backside {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.backside{
    transform: rotateY(180deg);
    background-color: transparent;
    padding: 30px;
    color:white;
    font-family: 'ubuntu', sans-serif;
}
.backside, .contact {
    padding: 0;
}
.backside, .contact a{
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}
h4{
    letter-spacing: 10px;
    font-weight: lighter;
    font-size: 25px;
}
/*----------Skills bar----------------------------*/

.skills {
    font-size: 1rem;
    text-align: right;
    color: rgb(0, 0, 0);
}

.css {
    font-size: 15px;
    height: 16px;
    width: 80%; background-color: #2196F3;
}
.js {
    font-size: 15px;
    height: 16px;
    width: 65%; background-color: #f44336;
}
.php {
    font-size: 15px;
    height: 16px;
    width: 60%; background-color: #808080;
}
.skills span{
    text-align: start;
}
.bootstrap{
    font-size: 15px;
    height: 16px;
    width: 75%; background-color: #808080
}
.photoshop {
    font-size: 15px;
    height: 16px;
    width: 90%; background-color: #f44336;
}
.corelDraw {
    font-size: 15px;
    height: 16px;
    width: 50%; background-color: #04AA6D;
}
.wonderShareFilmora {
    font-size: 15px;
    height: 16px;
    width: 80%; background-color: #2196F3;
}

.excel {
    font-size: 15px;
    height: 16px;
    width: 100%; background-color: #04AA6D;
}
.word {
    font-size: 15px;
    height: 16px;
    width: 95%; background-color: #2196F3;
}
.powerPoint {
    font-size: 15px;
    height: 16px;
    width: 95%; background-color: #f44336;
}
.citrix{
    font-size: 15px;
    height: 16px;
    width: 75%; background-color: #808080
}
/*----------Skills bar----------------------------*/

.card1, .card2, .card3, .card4, .card5, .card6 {
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    display: inline-block;
    height: 42vh;
    text-align: center;
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0;
    margin: 0;
    background-color:rgba(0, 0, 0, 0.234);
    color: #EEEEEE;
}

.flipButton{
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: grab;
    opacity: 80%;
    background-color:#00000000;
	display:inline-block;
	color:#ffffff;
    border: none;
	font-family:Arial;
	font-size: 1rem;
	text-decoration:none;
}

button{
    width: 50px;
    height: 47.5px;
}

.flipButton:hover{
    opacity: 100%;
}

/* Footer*/
.row-footer{
    height: 7vh;
}
.footer{
    background-color: #000000;
}
.linked{
    cursor: grab;
}
.footer .container p{
    color: white;
    text-align: end;
    padding-top: 15px;
    padding-right: 15px;
    font-family: 'ubuntu', sans-serif;
    cursor: default;
}

/*--------------------Slide----------------------------------*/
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

  /* Hide the images by default */
.mySlides, .mySlides2 {
    display: none;
    min-height: 175px;
}

  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    z-index: 102;
}
.prev{
    z-index: 101;
    left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    top: 0;
    text-align: end;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/*--------------------Slide----------------------------------*/
@media screen and (max-width: 768px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        display: block;
        height: 50vh;
        text-align: center;
        flex: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
        background-color:rgba(0, 0, 0, 0.234);
        color: #EEEEEE;
    }
    .flipButton{
        height: 11%;
    }
}
@media screen and (max-width: 768px) {
    /* .flipButton{
        height: 17.5%;
    } */
    .logo {
        width: 100%;
        padding-left: 20px;
    }
    .socialMedia {
        width: 100%;
    }
    .nav-tab {
        flex-direction: column;
    }
    .nav-tab .socialMedia {
        width: 100%;
        order: 2;
    }
    .nav-tab .logo {
        width: 100%;
        order: 1;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        display: block;
        height: 42vh;
        text-align: center;
        flex: 100%;
        max-width: 50%;
        padding: 0;
        margin: 0;
        background-color:rgba(0, 0, 0, 0.234);
        color: #EEEEEE;
    }
    .flipButton{
        height: 11%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1920px)  {

    .logo {
        width: 100%;
        padding-left: 20px;
    }
    .socialMedia {
        width: 100%;
    }
    .nav-tab {
        flex-direction: column;
    }
    .nav-tab .socialMedia {
        width: 100%;
        order: 2;
    }
    .nav-tab .logo {
        width: 100%;
        order: 1;
    }
}

@media screen and (max-width: 350px){
    .nav-tab{
        height: 20vh;
        width: 100%;
    }
    .logo{
        width: 100%;
        display: block;
        margin: auto;
    }
    .share-icons{
        width: 100%;
        display: block;
        text-align: center;
    }
    .share-text h5{
        text-align: center;
    }
    .logo h1{
        text-align: center;
        width: 100%;
    }
}